<html>
	<head>
		<style>
			.form-outline{
		        width:500px; 
		        height:325px; 
		        margin:0 auto; 
		        background-color:#0d8b97;
		    }
		</style>
	</head>

	<body>
		<div>
			{% include 'ui/header.html' %}
		</div>
		{% load i18n %}

		{% block content %}
		<br><br>
		<div class="form-outline">
		    <h1>{% trans "Change Password" %}</h1>
		    <center>
			    <form method="POST" action="" class="password_change form-horizontal">
			        {% csrf_token %}
			        {% for field in form %}
			        	<div> 
				        	{% if field.errors %}
				        		{{ field.errors}}
				        	{% endif %}
				        	{{ field }}
			        	</div>
			        	<br>
			        {% endfor %}
			        <br>
			        <button type="submit" name="action">{% trans "Change Password" %}</button>
			    </form>
			</center>
		</div>
		{% endblock %}
		<div>
			{% include 'ui/footer.html' %}
		</div>
	</body>
</html>

