{% load i18n %}
{% load account %}
{% include "infohub/index.html" %}


<title> Reset Password </title>

{% block body %}
{% block content %}
<center>
    <div class="content">
        <div class ="row">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>{% trans "Forgotten your password? <br> Enter your e-mail address below, and <br>we'll send you an e-mail allowing you to reset it." %}</p>
            <br>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="text-danger small">{{ field.errors }}</div>
                        </div>
                        <label class="control-label col-sm-offset-1 col-sm-3">{{ field.label_tag }}</label>
                        <span class="col-sm-12">{{ field }}</span>
                    </div>
                {% endfor %}
                <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary"/>
            </form>
            <br>
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
 </center>
 {% endblock %}
 <br><br><br>
{% endblock %}