<html>
    <head>
        <title> Reset Password </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            {% include "ui/header.html" %}
        </div>
        {% load i18n %}
        {% load account %}

        {% block content %}
        <br>
        <center>
            <br>
            <div style="width:600px; height:370px; margin:0 auto; background-color:#0d8b97;">
                <font color="white">
                    <h1>{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                </font>
                <p>{% trans "Forgotten your password? <br> Enter your e-mail address below, and <br>we'll send you an e-mail allowing you to reset it." %}</p>
                <br>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <input type="submit" value="{% trans 'Reset My Password' %}" />
                </form>
                <br>
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        {% endblock %}
        </div>

         </center>
        <br><br><br><br>
        <div>
            {% include "ui/footer.html" %}
        </div>
    </body>
</html>