{% load i18n %}
{% include "infohub/index.html" %}

{% block body %}

{% block content %}
<center>
	<div class="content">
        <div class ="row">
		    <h3>{% trans "Change Password" %}</h3>
		    <form method="POST" class="password_change form-horizontal">
		        {% csrf_token %}
		        <div class="form-group">
		        	{% for field in form %}  	
                        <div class="col-sm-offset-1 col-sm-10">
                        	<label class="control-label col-sm-10">{{ field.label_tag }} {{ field }}</label>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="text-danger small">{{ field.errors }}</div>
                        </div>                    
		        	{% endfor %}
		        </div>
		        <button type="submit" name="action" class="btn btn-success">{% trans "Change Password" %}</button>
		        <br><br>
		    </form>
		</div>
	</div>
</center>
{% endblock %}
<br><br><br>
{% endblock %}
