{% load i18n %}
{% include "infohub/index.html" %}
<style>
	.form-outline{
		width:500px; 
	    height:350px;
	}
</style>
{% block body %}

{% block content %}
<center>
	<br><br>
	<div class="form-outline">
	    <h1>{% trans "Change Password" %}</h1>
	    <center>
		    <form method="POST" action="" class="password_change form-horizontal">
		        {% csrf_token %}
		        {% for field in form %}
		        	<div> 
			        	{% if field.errors %}
			        		{{ field.errors}}
			        	{% endif %}
			        	{{ field }}
		        	</div>
		        	<br>
		        {% endfor %}
		        
		        <button type="submit" name="action" class="btn">{% trans "Change Password" %}</button>
		    </form>
		</center>
	</div>
</center>
{% endblock %}

{% endblock %}
