{% include "infohub/index.html" %}

<html>
    <head>
        <title> Sign Up </title>
    </head>

{% block content %}

<br>
<center>
    <div class="form-outline">
        <br>
        <h2>Sign Up</h2>
        <form class="login" method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
                <div>
                 <span class="text-danger small">{{ field.errors }}</span>
                      {{ field }}
                </div>
            {% endfor %}
            <br>
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
            <br/><br>
            <button class="primaryAction" type="submit">Sign In</button>
            <br/><br>
                        <font color="white">Already a User?
                <a href="/accounts/login" style="color:#cccc88; font-style: oblique;">
                    <u>Click here</u>
                </a> to Log In!
            </font>
            <input type="hidden" name="fname" value="bhanu">
            <input type="hidden" name="lname" value="teja">
        </form>
        <br><br>
    </div>
</center>
<br><br>
{% endblock %}