<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link href="{% static "infohub/bootstrap-3.3.5-dist/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "infohub/bootstrap-css-custom/navbar-default.css" %}" rel="stylesheet">
        <link href="{% static "infohub/bootstrap-css-custom/sticky-footer.css" %}" rel="stylesheet">
        <link href="{% static "infohub/bootstrap-css-custom/well.css" %}" rel="stylesheet">
        <link href="{% static "infohub/css/navbar-btn.css" %}" rel="stylesheet">
        <link href="{% static "infohub/css/text-color.css" %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'webhub:dashboard' %}">
                        <img class="navbar-brand-img" src="http://i.imgur.com/KKTKQJv.png?1">
                    </a>
                    <a class="navbar-brand hidden-xs" href="{% url 'webhub:dashboard' %}"><h1>Mobile App Control Center</h1></a>
                </div>
                {% if user.is_authenticated %}
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav navbar-right text-uppercase">
                              <p>&nbsp;</p>
                              <div class = "row">
                                <div class="col-md-5">
                                    <!--Update profile url so that itsnot hardcoded-->
                                    <a class="btn btn-primary" href="/profile/?id={{ user.id }}" role="button">
                                        <h5 class="navbar-btn-text">Profile</h4>
                                    </a>
                                </div>
                                <div class="col-md-5 text-right">
                                    <a class="btn btn-primary" href="{% url 'webhub:logout_do' %}" role="button">
                                        <h5 class="navbar-btn-text">Log Out</h4>
                                    </a>
                                </div>
                              </div>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="footer-content">
                <a href="{% url 'webhub:aboutPC' %}"><h4 class="footer-mid-text">About Peace Corps</h4></a>
                <h4 class="footer-mid-text"> | </h4>
                <a href="{% url 'webhub:policies' %}"><h4 class="footer-mid-text">Policies</h4></a>
                <h4 class="footer-mid-text"> | </h4>
                <a href="{% url 'webhub:details' %}"><h4 class="footer-mid-text">Important Details</h4></a>
                <h4 class="footer-mid-text"> | </h4>
                <a href="{% url 'webhub:helpPC' %}"><h4 class="footer-mid-text">Help</h4></a>
                <p class="footer-small-text">&copy;2015 PeaceCorps</p>
                <a href="#">Return to Top</a>
            </div>
        </footer>
    </body>
</html>
