<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div>
    {% include "malaria/header.html" %}
</div>
<br><br><br>
    <center><h2><font color="#2c0f00"> Get Help Now : Posts </font></h2></center>
{% if post_list %}
    <div class="well">
        <a href="{% url 'pcsa_GHN:create_post' %}" class="btn btn-success pull-right">New Post</a>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h3 class="inverted-font"><font color="black">Post</font></h3>
                    </th>
                    <th>
                        <h3 class="inverted-font"><font color="black">Description</font></h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for post in post_list %}
                    <tr>
                        <td>
                            <h3 class="inverted-font">
                                {{ post.title }}
                            </h3>
                        </td>
			<td>
                        <h3 class="inverted-font">
				{{ post.description|truncatewords:5|linebreaks }}
			</h3>
                    </td>
                        <td>
                            <a href="{% url 'pcsa_GHN:view_post' post.id %}" class="btn btn-primary">View</a>
                            <a href="{% url 'pcsa_GHN:edit_post' post.id %}" class="btn btn-info">Edit</a>
                            <a href="{% url 'pcsa_GHN:delete_post' post.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="well">
        <a href="{% url 'pcsa_GHN:create_post' %}" class="btn btn-success pull-right">New Post</a>
        <h3 class="text-center inverted-font">No Posts</h3>
    </div>
{% endif %}
<br><br><br>
    <center><h2><font color="#2c0f00"> Get Help Now : Contacts </font></h2></center>
     {% if contact_list %}
        <div class="well">
        <a href="{% url 'pcsa_GHN:create_contact' %}" class="btn btn-success pull-right" >New Contact</a>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h3 class="inverted-font"><font color="black">Ofiice</font></h3>
                    </th>
                    <th>
                        <h3 class="inverted-font"><font color="black">Contact Number</font></h3>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for c in contact_list %}
                <tr>
                    <td>
                        <h3 class="inverted-font">{{ c.office_name }}</h3>
                    </td>
                    <td>
                        <input type="tel" value="{{ c.contact_number }}" />
                    </td>
                    <td>
			<a href="{% url 'pcsa_GHN:view_contact' c.id %}" class="btn btn-primary">View</a>
                        <a href="{% url 'pcsa_GHN:edit_contact' c.id %}" class="btn btn-info">Edit</a>
                    
                        <a href="{% url 'pcsa_GHN:delete_contact' c.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
         {% else %}
         <div class="well">
         <a href="{% url 'pcsa_GHN:create_contact' %}" class="btn btn-success pull-right">Add Contact</a>
        <h3 class="text-center inverted-font">No Contacts</h3>
         </div>
    {% endif %}

<br><br><br>
<div>
{% include "malaria/footer.html" %}
</div>

</body>
</html>
