form{
	padding: 20px 0;
	text-align: center;
	
	
	

}

form label {
	display: block;
	text-align: left;
	width: 200px;
	margin: 10 auto;
	border-radius: 6px;
	line-height: 30px;
	font-size: 20px;
	margin: 10px auto;
}

form input{
	display: block;
	text-align: left;
	width: 200px;
	margin: 10 auto;
	border-radius: 6px;
	line-height: 30px;
	font-size: 18px;
	margin: 10px auto;
}

form input{
	font-size: 0.8em;
}

.options input{
	border-width: 0;
	background-color: transparent;
	font-size: 16px;
	
}

.btn input{
			text-align: center;
			align-self: top;
			
			width: 100px;
			padding:0;
			margin:0;


}
.btn{
	display: flex;
	padding:10;
	justify-content: center;

}




@media only screen and (min-width: 950px){
		form input,
		form label{
			
			width: 150px;
		}
		.image{
			padding: 10px 0;
			order: 2;

			
		}

		form{
			display: flex;
			flex-wrap: wrap;
			padding: 0 60px;
			justify-content: center;
		}
		.options input{
			display: inline-block;
		}
		.options{
			order: 3;
			display: flex;
		}
		.details{
			order: 1;
			flex-grow: 2;
			float: left;
			
			padding: 10px 0;
		}
		
		.btn{
			height: 30px;	
		}

}
