<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->


<!-- this page enables the user to edit his profile -->

<html>
    <head>
        <title>Edit Profile | {{pcuser.user}}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
	<style type="text/css">
        .form-outline{
            width:800px; 
            height:600px; 
            margin:0 auto; 
            background-color:#0d8b97;
        }
	{% include "resets.css" %}
	{% include "style.css" %}
	{% include "profile.css" %}
	{% include "edit_profile.css" %}
	</style>
    </head>
    <body>
    <!--header-->
    {% include "header.html" %}
    <!--content-->


         <section class="row">
            <div class="container">
            <div class="content">
            <h3>Edit Profile</h3>
            
             <form action="/edit_profile/?id={{pcuser.user.id}}" method="post" enctype="multipart/form-data">
		<table>
		<tr>
             <td>   <label for="first_name"><font color="black">First name:</font></label> </td>
                   <td> <input id="first_name" type="text" name="first_name" value="{{pcuser.user.first_name}}"></td>
		</tr>
            <tr>
             <td>   <label for="last_name"><font color="black">Last Name: </font></label></td>
                  <td>  <input type="text" name="last_name" value="{{pcuser.user.last_name}}"></td>
		</tr>
            <tr>
               <td> <label> <font color="black">Mobile:</font></label></td>
                  <td>  <input type="text" name="phone" value="{{pcuser.phone}}"></td>
            </tr>
                <tr>
              <td>  <label><font color="black">Email:</font></label></td>
                  <td>  <input type="text" name="email" value="{{pcuser.user.email}}"></td>
            	</tr>
		 <tr>
                    <td><label> <b><font color="black">Gender:</font></b></label></td> 
                    <td>
			<input type="radio" name="gender" value="Male" checked>Male
			<input type="radio" name="gender" value="Female" checked>Female
			<input type="radio" name="gender" value="Restricted" checked>Prefer not to say
		</td>
                </tr>
            <tr>
                <td><label><font color="black">Location: </font></label></td>
                   <td> <input type="text" name="location" value="{{pcuser.location}}"></td>
            </tr>
		</table>              
                
                <div class="options">
                   
                    <div class="btn">
                    <input type="submit" name="submit" value="Update"><font color="black"></font></div>
                    
                    <div><a href="/profile/?id={{pcuser.user.id}}" class="btn"><font color="black">Cancel</font></a></div>
                </div>
		</form>
             </div>
             </div>
        </section>
    <!--footer-->
    {% include "footer.html" %}      
    </body>
</html>
