<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- The forget password page -->

<html>
<head>
	<title> Forget Password </title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <style>
    .form-outline{
        width:600px; 
        height:360px; 
        margin:0 auto; 
        background-color:#0d8b97;
    }
    .input-group{
	margin:12 auto;
     }
    </style>
</head>
<body>
    
    {% include "header.html" %}
    <br><br><br>

    <center>
        
        <font color="white">
        	<div class="form-outline"><br>
        
        
		<form action="/forgot_pass/" method="post" class="form" role="form">
		    <br>
		    <font size="5"><h2>Forgot Password</h2></font><br>
		    
		   	<div class="input-group">	      
		    		<font color="white" size="3"><p>Username :</p></font> 
		            	<input maxlength=50 class="form-control" name="username" type="text" required>
			</div>
		       
		    
			<div class="input-group">	      
				<font color="white" size="3"><p>Email ID : </p></font>
		            	<input maxlength=100 class="form-control" name="email" type="email" required>
			</div>
		       
		        <div class="controls">
		            	<button id="singlebutton" name="singlebutton" class="btn btn-primary"><font color="black">Email Me</font></button>
		        </div>
	       
	    	</form>
            
            
    		</div>
	</font>
   </center>
          
    <br><br><br>
    {% include "footer.html" %}

</body>
</html>
