<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->


<!-- page for the profile of a user -->
<!DOCTYPE html>
<html>
    <head>
        <title>User Profile | {{profiler.user.first_name}}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="resets.css" type="text/css"> 
        <link rel="stylesheet" href="style.css" type="text/css"> 
        <link rel="stylesheet" href="profile.css" type="text/css"> 
<style>{% include "resets.css" %} 
	{% include "style.css" %}
	{% include "profile.css" %}
</style>
    </head>
    <body>
    
    <!--Header-->
    {% include "header.html" %}
    
    <!--content-->
    <section class="row">
        <div class="content">
            
                <h3>User profile</h3>
                <div class="image">
                <img src={{profiler.image}} >
                <h4>User | {{profiler.user}}</h4>
                <p>...</p>
                </div>
                <ul>
                    <li><span>First Name</span>: {{profiler.user.first_name}}</li>
                    <li><span>Last Name</span>: {{profiler.user.last_name}}</li>
                    <li><span>Email Address</span>: {{profiler.user.email}}</li>
                    <li><span>Mobile</span>:   {{profiler.phone}} </li>
                    <li><span>Gender</span>:   {{profiler.gender}}</li>
                    <li><span>Location</span>:   {{profiler.location}} </li>
                </ul>
                <div class="options">
                    {% if profiler.user.username == pcuser.user.username %}
                    <div class="btn"><a href="javascript:void(0)" onclick="window.location.href='/edit_profile_page/?id={{profiler.id}}'">Edit Profile</a></div>
                    {% endif %}
                    <div class="btn"><a href="javascript:void(0)" onclick="window.location.href='/change_pass_page/'">Change Password</a></div>
                </div>
        </div>
        
    </section>
    <!-- footer-->
    {% include "footer.html" %}
    
    </body>
</html>
