<!DOCTYPE html>
<html>
    <head>
        <title>User Profile | {{pcuser.user}}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
    <div>
        {% include "profiles/header.html" %}
    </div>
    <section class="row">
        <br><br>
        <div class="content">

            <div class="myClass" style="margin-right: 30px; margin-left: 80px">
                <span><h3><b>User Profile</b></h3></span>
            </div>
            <img src="/static/{{pcuser.photo}}" alt="Unable to Load" class="img-circle" style="margin-top: 10px; margin-left: 25px">

            <ol>
                <li><span><font color="black">User Name </span>: </font>{{pcuser.user.username}}</li>
                <li><span><font color="black">First Name </span>: </font>{{pcuser.user.first_name}}</li>
                <li><span><font color="black">Last Name </span>: </font>{{pcuser.user.last_name}}</li>
                <li><span><font color="black">Email Address </span>: </font>{{pcuser.user.email}}</li>
                <li><span><font color="black">Mobile </span>:   </font>{{pcuser.phone}} </li>
                <li><span><font color="black">Gender </span>:  </font> {{pcuser.gender}}</li>
                <li><span><font color="black">Location </span>:   </font>{{pcuser.location}} </li>
            </ol>
            <div class="options">
                <a href="/edit_profile/{{pcuser.id}}" class="btn">Edit Profile</a>
                <a href="{% url 'account_change_password' %}" class ="btn" >Change Password</a>
            </div>

        </div>
        <br><br>
    </section>
    <div>
        {% include "profiles/footer.html" %}
    </div>
    </body>
</html>
