<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->
<!-- the page to redirect -->
<html>
  <head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        window.setTimeout(function() {
        location.href = "{{ redirect_url }}";
        }, 100);
        function onClick(){
        bootbox.confirm("<br>Are you sure to cancel?", function(result) {
        if (result === false) {
        document.getElementById("hr").innerHTML = "You pressed Cancel"
        } else {
        document.getElementById("hr").innerHTML = "Pressed O.K";
        }
        })
        };
    </script>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body></body>
</html>
