{% extends "infohub/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<center>
    <h2>
        <font color="#2c0f00"> Malaria : infoHub</font>
    </h2>
</center>
{% if post_list %}
    <div class="well">
        <a href="{% url 'malaria:create_post' %}" class="btn btn-default pull-right">New Post</a>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h3 class="inverted-font">Post</h3>
                    </th>
                    <th>
                        <h3 class="inverted-font">Action</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for post in post_list %}
                    <tr>
                        <td>
                            <h4 class="inverted-font">
                                {{ post.title_post }}
                            </h4>
                        </td>
                        <td>
                            <a href="{% url 'malaria:view_post' post.id %}" class="btn btn-default">View</a>
                            <a href="{% url 'malaria:edit_post' post.id %}" class="btn btn-info">Edit</a>
                            <a href="{% url 'malaria:delete_post' post.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="well">
        <a href="{% url 'malaria:create_post' %}" class="btn btn-default pull-right">New Post</a>
        <h3 class="text-center inverted-font">No Posts</h3>
    </div>
{% endif %}
{% endblock %}
