<h2 class="text-center">
    FirstAide: infoHub
</h2>
<div class="well">
    <h2 class="text-center ">Delete Post</h2>
    <form method="post" action="{% url 'pcsa_safety_tools:delete_post' safetytoolspost.id %}">
        {% csrf_token %}
        <div class="form-group" >
            <label class="col-sm-offset-1">Are you sure you want to delete this Post?</label>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1">
                <input type="submit" class="btn btn-danger" value="Yes, delete this Post"/>
                <a href="{% url 'pcsa_safety_tools:home' %}" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </form>
</div>
