{% include "infohub/index.html" %}

{% block content %}

<h2 class="text-center">
    Safety Tools : Post
</h2>
{% for category in categories %}
    {% if category %}
        <div class="well">
            <a href="{% url 'pcsa_safety_tools:create_post' %}" class="btn btn-success pull-right">New Post</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <h3>Post</h3>
                        </th>
                        <th>
                            <h3>Description</h3>
                        </th>
                        <th>
                            <h3>Action</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in category %}
                        <tr>
                            <td>
                                <h5>
                                    {{ post.title|linebreaks }}
                                </h5>
                            </td>
                            <td>
                                <h5>
                                    {{ post.description|truncatechars:40|linebreaks }}
                                </h5>
                            </td>
                            <td>
                                <a href="{% url 'pcsa_safety_tools:view_post' post.id %}" class="btn btn-primary">View</a>
                                <a href="{% url 'pcsa_safety_tools:edit_post' post.id %}" class="btn btn-info">Edit</a>
                                <a href="{% url 'pcsa_safety_tools:delete_post' post.id %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
    {% else %}
        <div class="well">
            <a href="{% url 'pcsa_safety_tools:create_post' %}" class="btn btn-success pull-right">New Post</a>
            <h3 class="text-center ">No Posts</h3>
        </div>
        <br>
    {% endif %}
{% endfor %}
{% endblock %}