img{
	height: 100px;
	width: 100px;
	border-radius: 6px;
	border: 1px solid #aaa;
}

.header img{
	width: 85px;
    height: 80px;
	border-width: 0;
}

body{
	font: 18px/24px arial, verdana;
}

.header, .footer {
	background-color: #e2d7bb;
}

.logo{
	float: left;
}

.macc h2,
.macc label{
	line-height: 30px;
	padding: 10px;
	font-size: 24px;
	
}

.prim-nav{
	line-height: 30px;

}
.prim-nav ul{
	float: right;
}
.prim-nav li{
	text-align: right;
	padding-right: 20px;
}

input:checked + label{
	color: #009688;	
}
.macc h1{
	display: inline-block;
}


.header nav{
	max-height:0;
	display:none;
	transition: all 1s linear;

	
}

#toogle{
	display:none;
}



.macc input:checked ~ nav{
	display: block;
	max-height: 500px;
}
h1{
	font-size: 30px;
	padding: 30px 0 30px 100px;
	margin-top: 10px;
}


a{
	text-decoration: none;
	color: #000;
}

a:hover{
	cursor: pointer;
	color: #0d8b97;
}

.footer{
	clear: both;
}


.footer{
	padding: 10px;
	text-align: center;
}

.footer a, .footer p{
	font-size: 14px;
	margin: 30px;
}

@media only screen and (min-width: 950px){
	.header nav{
		max-height: 100px;
		display: block;
		float: right;
	}
	.header li{
		display: inline-block;	
		padding: 6px;
	}

	img{
		height: 150px;
		width: 150px;
		margin: 10px 50px;
	}
	.footer li{
		display: inline-block;
		margin-right:20px;
	}
	

	.container{
		text-align: center;
	}

}

.ast{
	color:red;
	size:11;
	padding:3;
}

.well {
    background-color: #0d8b97;
    border: 1px solid #0a6d76;
    max-width: 80%;
    margin: auto;
}

.inverted-font {
    color: white;
}

