<html>
	<head>
		<title> Change Password </title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <style>
	    .form-outline{
	        width:600px; 
	        height:370px; 
	        margin:0 auto; 
	        background-color:#0d8b97;
	    }
	    </style>
	</head>
	<body>
	    <div>
	    	{% include "profiles/header.html" %}
	    </div>
	    <br><br><br><br><br><br>
	    <center>
	        <font color="white">
		        <div class="form-outline">
			        <br>
			        <form action="{% url 'account_change_password' %}" method="POST">
			        	{% csrf_token %}
			            <h2>Change password</h2><br>
					    <div>
			                <label for="oldpassword">Old password * </label>
						    <div class="input-group">
						        <input maxlength=100 type="password" class="form-control" name="oldpass" placeholder="Old Password" required>
						    </div>
					    </div>				
					    <div>
	                        <label for="newpassword">New password * </label>
	                        <div class="input-group">
	                            <input maxlength=100 type="password" class="form-control" name="pass" placeholder="New Password" required>
							</div>
					    </div>
					    <div>
	                        <label for="password">Confirm password * </label>
	                        <div class="input-group">
                            	<input maxlength=100 type="password" class="form-control" placeholder="Re-Enter New Password" required>
							</div>
					    </div>
			            <br><br>       
                        <div class="controls">
                            <center>
                            	<button type="submit" class="btn btn-primary">
                            		<font color="black">Submit</font>
                            	</button>
                            </center>
                        </div>
					</form>
			    </div>
	        </font>       
	    </center>
	    <br><br>
	    <div>
	    	{% include "profiles/footer.html" %}
		</div>
	</body>
</html>
