{% include "infohub/index.html" %}

<title> About PC </title>

{% block content %}
<div class="well">
  	<center>
  		<img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjD6HxXOYTSiQOIqbYXytJWt--_bzrzGCKD5bv8RI-CVShYatZ" style="width:570px;height:150px; margin: 20px">
  		<p>
  			<font size='5px'>
  				<b>Changing lives the world over</b>
  			</font>
  		</p>
	  	<font size='3px'>
	  		<p>
				The Peace Corps is a service opportunity for motivated changemakers to immerse themselves in a community abroad, working side by side with local leaders to tackle the most pressing challenges of our generation.
			</p>
		</font>
		<hr>
		<p>
			<font size='5px'>
				<b>The Peace Corps Mission</b>
			</font>
  		</p>
  		<br>
	  	<font size='3px'>
		  	<p>
				To promote world peace and friendship by fulfilling three goals...
			</p>
	 	</font>
	 	<br>
	 	Continue Reading ?   
	 	<a href="https://www.peacecorps.gov/about/">
	 		<u>Click Here </u>
	 	</a>
  	</center>
</div>
<br><br><br><br>
{% endblock %}
