{% load static %}
{% include "infohub/index.html" %}

<title>DashBoard</title>
<link href="{% static "css/dashboard.css" %}" rel="stylesheet">

{% block content %}
<section class="container">
	<div class="row">
		<div class="row">
			<div class="col-sm-offset-8 col-sm-4">
				<form action="/search/" method="get">
					<select name="category">
						<option value="" selected disabled>Select Category</option>
						<option value="malaria">Malaria</option>
						<option value="pcsa">PCSA Get Help Now</option>
						<option value="pcsa_safety_tools">PCSA Safety Tools</option>
					</select>
					<input name="search" type="text" placeholder="Search">
					<button class="glyphicon glyphicon-search" type="submit">
	      			</button>
	      		</form>
      		</div>
			<div class="col-sm-offset-5 col-sm-3">
				<h3>PEACE CORPS HUB</h3>
				<br>
			</div>
      	</div>
		<div class="big col-sm-offset-1">
			<div class="box col-sm-5">
				<h3>
					<a href="/malaria/list_posts/">Malaria</a>
				</h3>
				<img src="http://i.imgur.com/y8lfLmz.jpg" class="img-responsive img-thumbnail pull-right" id="img1">
				<div>
					The Malaria Mobile App was developed to help keep Peace Corps volunteers safe in places that are at a high risk of acquiring malaria.		
					<center>	
						<p>...</p>
						<a href="javascript:void(0)" onclick="window.location.href='/malaria/list_posts/'" class="btn btn-primary">Go to Malaria</a>
					</center>
				</div>
			</div>
			<div class="box col-sm-5">
				<h3>
					<a href="/pcsa/list_posts/">PCSA</a>
				</h3>
				<img src="https://lh3.googleusercontent.com/proxy/jkMZfrKFSrfI6T1BtZmwfmRJz4Tld-GbfLGMIN40ghkFSkJkzHImZJiLRRBl0ATkYKp8gab7DWKxenDVPL6MScjcY9BawPl43k5OjAI4Se7ml1JVA4OWzEmFzCwJ6UQKxXB5BlY=w530-h294-p" class="img-responsive img-thumbnail pull-right" id="img1">
				<div>
					The Peace Corps Sexual Assault app is developed to provide the required safety measures for volunteers from sexual assault.
					<center>
						<p>...</p>
				
							<a href="javascript:void(0)" onclick="window.location.href='/pcsa/list_posts/'"class="btn btn-primary">Go to PCSA</a>
					</center>
				</div>	
			</div>
			<p>...</p>
		</div>
	</div>
</section>
<br><br><br><br><br><br>
{% endblock %}


