{% include "infohub/index.html" %}

<title> Details </title>

{% block content %}
<div class="well">
	<center>
		<img class="img-responsive" src="http://theophostic.org/media/images/promo/promo_p04.jpg" style="width:570px;height:150px; margin: 20px">
		<p>
			<font size='5px'>
				<b>Mobile App Control Center (MACC)</b>
			</font>
		</p>
		<font size='3px'>
			<p>
				MACC is a backend platform for the Peace Corps mobile applications - Malaria and FirstAide. The Mobile App Control Center allows the volunteers at Peace Corps HQ to send or edit any information in their mobile applications through a set of APIs.
			</p>
		</font>
		<br>
		<font size='3px'>
		  	<p>
				On Malaria App MACC works on Malaria Prevention application as infoHub, a portal where posts can be added and notified to the mobile app users(volunteers). Posts on infoHub mainly focus on malaria prevention tips and malaria awareness.
			</p>
			<p>
				On FirstAide App MACC works on PCSA mobile and web apps, MACC makes the mobile apps fully dynamic and all the information present in the mobile apps is fetched from MACC through APIs.
			</p>
		</font>
		<br><br>
	</center>
</div>
<br><br><br><br>
{% endblock %}