{% include "infohub/index.html" %}

<title> Policies </title>

{% block content %}
<div class="well">
  	<center>
	  	<img class="img-responsive" src="http://simonscottingtrees.com/uploads/policy.jpg" style="width:570px;height:150px; margin: 20px">
	  	<p>
	  		<font size='5px'>
	  			<b>Peace Corps Policies</b>
	  		</font>
	  	</p>
	  	<br>
	  	<font size='3px'>
		  	<p>
				These policies govern the operations of the Peace Corps and the responsibilities and conduct of Volunteers and agency employees.
			</p>
		</font>
		<hr>
	</center>
	<font size='3px'>
	  	Please find the Peace Corps Manual Sections 
	  	<a href="https://www.peacecorps.gov/about/open-government/peace-corps-manual/">
	  		<u>here</u>
	  	</a>
	  	<br>
	  	<br>
	  	 Additional information about Peace Corps policies can be found in the 
	  	 <a href="http://files.peacecorps.gov/multimedia/pdf/documents/volunteer_handbook.pdf"> 
	  	 	<u>Peace Corps Volunteer Handbook</u>
	  	 </a> and 
	  	 <a href="https://www.ecfr.gov/cgi-bin/text-idx?SID=ffc65d1b99d27d1568a89db114db4542&mc=true&tpl=/ecfrbrowse/Title22/22chapterIII.tpl"> 
	  	 	<u>Peace Corps' Code of Federal Regulations</u>
	  	 </a>
	</font>
	<hr>
</div>
<br><br><br><br>
{% endblock %}