{% load static %}
{% include "infohub/index.html" %}

<title>User Profile | {{pcuser.user}}</title>
<link href="{% static "css/dashboard.css" %}" rel="stylesheet">

{% block content %}
<section class="container">
    <div class="content">
        <div class="myClass">
            <span>
                <h3>
                    <b>User Profile</b>
                </h3>
            </span>
        </div>
        <img src="/static/{{pcuser.photo}}" alt="Unable to Load" class="img-circle" style="margin-top: 10px; margin-left: 25px">
        <ol>
            <li><span>User Name </span>: {{pcuser.user.username}}</li>
            <li><span>First Name </span>: {{pcuser.user.first_name}}</li>
            <li><span>Last Name </span>: {{pcuser.user.last_name}}</li>
            <li><span>Email Address </span>: {{pcuser.user.email}}</li>
            <li><span>Mobile </span>: {{pcuser.phone}} </li>
            <li><span>Gender </span>: {{pcuser.gender}}</li>
            <li><span>Location </span>: {{pcuser.location}} </li>
        </ol>
        <div class="options">
            <a class="btn btn-primary" href="/edit_profile/{{pcuser.id}}">Edit Profile</a>
            <a class="btn btn-danger" href="{% url 'account_change_password' %}">Change Password</a>
        </div>
    </div>
</section>
<br>
{% endblock %}
