{% include "infohub/index.html" %}

{% block content %}
<center>
    <h2>
        <font color="#2c0f00"> Get Help Now </font>
    </h2>
</center>
<div class="well">
    <h2 class="text-center ">New Contact</h2>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label ">Office Name <span class="text-danger" >*</span></label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="office_name" value="{% if form.office_name.value %}{{ form.office_name.value }}{% endif %}">
                <p class="help-block ">
                    <strong>
                        {% if form.office_name.errors %}
                            {% for error in form.office_name.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </strong>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">Phone Number <span class="text-danger" >*</span></label>
            <div class="col-sm-9">
                <input class="form-control" type="number" name="contact_number" value="{% if form.contact_number.value %}{{ form.contact_number.value }}{% endif %}">
                <p class="help-block ">
                    <strong>
                        {% if form.contact_number.errors %}
                            {% for error in form.contact_number.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </strong>
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'pcsa_GHN:home' %}" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}