<h2 class="text-center">
    Get Help Now
</h2>
<div class="well">
    <h2 class="text-center">Delete Contact</h2>
    <form method="post" action="{% url 'pcsa_GHN:delete_contact' c.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-offset-1">Are you sure you want to delete this Contact?</label>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1">
                <input type="submit" class="btn btn-danger" value="Yes, delete this Contact" />
                <a href="{% url 'pcsa_GHN:home' %}" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </form>
</div>
