{% include "infohub/index.html" %}

{% block content %}

<h2 class="text-center">
    Get Help Now : Posts
</h2>
{% if post_list %}
    <div class="well">
        <a href="{% url 'pcsa_GHN:create_post' %}" class="btn btn-success pull-right">New Post</a>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h3><font color="black">Post</font></h3>
                    </th>
                    <th>
                        <h3><font color="black">Description</font></h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for post in post_list %}
                    <tr>
                        <td>
                            <h5>
                                {{ post.title|truncatechars:20 }}
                            </h5>
                        </td>
			            <td>
                            <h5>
    				            {{ post.description|truncatechars:40|linebreaks }}
    			            </h5>
                        </td>
                        <td>
                            <a href="{% url 'pcsa_GHN:view_post' post.id %}" class="btn btn-primary">View</a>
                            <a href="{% url 'pcsa_GHN:edit_post' post.id %}" class="btn btn-info">Edit</a>
                            <a href="{% url 'pcsa_GHN:delete_post' post.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="well">
        <a href="{% url 'pcsa_GHN:create_post' %}" class="btn btn-success pull-right">New Post</a>
        <h3 class="text-center ">No Posts</h3>
    </div>
{% endif %}

<h2 class="text-center">
    Get Help Now : Contacts
</h2>
{% if contact_list %}
    <div class="well">
        <a href="{% url 'pcsa_GHN:create_contact' %}" class="btn btn-success pull-right" >New Contact</a>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h3><font color="black">Ofiice</font></h3>
                    </th>
                    <th>
                        <h3><font color="black">Contact Number</font></h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for c in contact_list %}
                    <tr>
                        <td>
                            <h5>{{ c.office_name }}</h5>
                        </td>
                        <td>
                            <input type="tel" value="{{ c.contact_number }}" />
                        </td>
                        <td>
    			            <a href="{% url 'pcsa_GHN:view_contact' c.id %}" class="btn btn-primary">View</a>
                            <a href="{% url 'pcsa_GHN:edit_contact' c.id %}" class="btn btn-info">Edit</a>
                            <a href="{% url 'pcsa_GHN:delete_contact' c.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
     <div class="well">
        <a href="{% url 'pcsa_GHN:create_contact' %}" class="btn btn-success pull-right">Add Contact</a>
        <h3 class="text-center ">No Contacts</h3>
     </div>
{% endif %}
<br>
{% endblock %}
