{% include "infohub/index.html" %}

{% block content %}
<br><br><br>
<center>
    <h2>
        <font color="#2c0f00"> pcsa : infoHub</font>
    </h2>
    </center>
<div class="well">
    <h2 class="text-center inverted-font">View Post</h2>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
            <h4 class="inverted-font">
                <strong>Title:</strong>
            </h4>
        </div>
        <div class="col-sm-2">
            <h4 class="inverted-font">
                {{ ghnpost.title }}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
            <h4 class="inverted-font">
                <strong>Description:</strong>
            </h4>
        </div>
        <div class="col-sm-7">
            <h4 class="inverted-font">
                {{ ghnpost.description|linebreaksbr }}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
            <h4 class="inverted-font"><strong>Link:</strong></h4>
        </div>
        <div class="col-sm-7">
            <h4 class="inverted-font">
                <a href="{{ ghnpost.link|linebreaksbr }}" target="_blank" ><font color="#0645AD">{{ ghnpost.link|linebreaksbr }}</font></a>
            </h4>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <h4 class="inverted-font"><strong>Image:</strong></h4>
            </div>
            <div class="col-sm-7">
                <h4 class="inverted-font">
                    <img src="/static/{{ghnpost.photo}}" alt="my_img" >
                </h4>
            </div>
        </div>
    <p> &nbsp; </p>
    <div class="row">
        <div class="col-sm-12 col-sm-offset-2">
            <a href="{% url 'pcsa_GHN:home' %}" class="btn btn-primary">Back to Post List</a>
            <a href="{% url 'pcsa_GHN:edit_post' ghnpost.id %}" class="btn btn-info">Edit</a>
            <a href="{% url 'pcsa_GHN:delete_post' ghnpost.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
<br>
{% endblock %}
