{% include "infohub/index.html" %}

{% block content %}

<h2 class="text-center">
    PCSA : infoHub
</h2>
<div class="well">
    <h2 class="text-center ">View Post</h2>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h4 >
                <strong>Title:</strong>
            </h4>
        </div>
        <div class="col-sm-8">
            <h4 >
                {{ ghnpost.title }}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h4 >
                <strong>Description:</strong>
            </h4>
        </div>
        <div class="col-sm-8">
            <h4 >
                {{ ghnpost.description|linebreaksbr }}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h4 >
                <strong>Date Created:</strong>
            </h4>
        </div>
        <div class="col-sm-8">
            <h4 >
                {{ ghnpost.created_date }}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h4 ><strong>Link:</strong></h4>
        </div>
        <div class="col-sm-8">
            <h4 >
                <a href="{{ ghnpost.link|linebreaksbr }}" target="_blank" ><font color="#0645AD">{{ ghnpost.link|linebreaksbr }}</font></a>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h4 ><strong>Image:</strong></h4>
        </div>
        <div class="col-sm-8">
            <h4 >
                <img src="/static/{{ghnpost.photo}}" alt="my_img" >
            </h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-sm-offset-1">
            <a href="{% url 'pcsa_GHN:home' %}" class="btn btn-primary">Back to Post List</a>
            <a href="{% url 'pcsa_GHN:edit_post' ghnpost.id %}" class="btn btn-info">Edit</a>
            <a href="{% url 'pcsa_GHN:delete_post' ghnpost.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
<br>
<div class="well">
    <h2 class="text-center">Revision History</h2>
        <div class="row">
            <br>
                <div class="col-sm-1">
                    <h4 >                
                        <strong>Author</strong>
                    </h4>
                </div>
                <div class="col-sm-2">
                    <h4 >
                        <strong>Date Updated</strong>
                    </h4>
                </div>
                <div class="col-sm-2">
                    <h4 >
                        <strong>Title</strong>
                    </h4>
                </div>
                <div class="col-sm-3">
                    <h4 >
                        <strong>Description</strong>
                    </h4>
                </div>
                <div class="col-sm-2">
                    <h4 >
                        <strong>Link</strong>
                    </h4>
                </div>
                <div class="col-sm-2">
                    <h4 >
                        <strong>Image</strong>
                    </h4>
                </div>
            </div>
            {% for revpost in revpost_list %}
                <div class="row">
                    <div class="col-sm-1">
                        <h5>
                            {% if revpost.owner_rev_ghn.user.first_name or revpost.owner_rev_ghn.user.last_name %}
                                {{ revpost.owner_rev_ghn.user.first_name }} {{ revpost.owner_rev_ghn.user.last_name }}
                            {% else %}
                                {{ revpost.owner_rev_ghn.user.username }}
                            {% endif %}
                        </h5>
                    </div>
                    <div class="col-sm-2">
                        <h5>
                            {{ revpost.created }}
                        </h5>
                    </div>
                    <div class="col-sm-2">
                        <h5>
                            {{ revpost.title_post_rev }}
                        </h5>
                    </div>
                    <div class="col-sm-3">
                        <h5>
                            {{ revpost.description_post_rev|linebreaksbr }}
                        </h5>
                    </div>
                    <div class="col-sm-2">
                        <a href="{{ revpost.link_rev }}">
                            {{ revpost.link_rev|truncatechars:20|linebreaksbr }}
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="/static/{{ revpost.photo_rev }}">
                            {{ revpost.photo_rev|truncatechars:20|linebreaksbr }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}
