<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- page for about us -->
<html>
<head>
	<title> About PC </title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% include "header.html" %}
    <br><br><br><br><br><br><center>
    <p>Here the information about PC would be shown</p></center>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% include "footer.html" %}
    
</body>
</html>

