<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- the welcome page after log in -->
<!DOCTYPE html>
<html>
	<head>
	<title>DashBoard</title>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	{% include "resets.css" %}
	{% include "style.css" %} 
	</style>

	</head>
	<body>
	{% include "header.html" %}
	<!--Header-->
	
	<!--content-->
	<section class="row">
		<div class="container">
			<h1>PEACE CORPS HUB</h1>
			<div class="big"><!--
			--><div class="box">
				<h3><a href="/malaria/list_posts/">Malaria</a></h3>
				<img src="http://i.imgur.com/y8lfLmz.jpg" class="img-responsive img-thumbnail" id="img1">
				<div class="text">The Malaria Mobile App was devoloped to help keep our Peace Corps Volunteers safe in places that are at a high risk of acquring malaria
				<div class="btn"><a href="javascript:void(0)" onclick="window.location.href='/malaria/list_posts/'">Go to Malaria</a></div>
				</div>
			</div><!--
			--><div class="box">
				<h3><a href="/pcsa/list_posts/">PCSA</a></h3>
				<img src="https://lh3.googleusercontent.com/proxy/jkMZfrKFSrfI6T1BtZmwfmRJz4Tld-GbfLGMIN40ghkFSkJkzHImZJiLRRBl0ATkYKp8gab7DWKxenDVPL6MScjcY9BawPl43k5OjAI4Se7ml1JVA4OWzEmFzCwJ6UQKxXB5BlY=w530-h294-p" class="img-responsive img-thumbnail" id="img1">
				<div class="text">The Peace Corps Sexual Assault app is developed to provide the required safety measures for volunteers from sexual assault.
				<p>...</p>
				<div class="btn"><a href="javascript:void(0)" onclick="window.location.href='/pcsa/list_posts/'">Go to PCSA</a></div>
				</div>	
			</div>
			<p>...</p>
		</div>
	</section>
	<!-- footer-->
	{% include "footer.html" %}
	</body>
</html>

