<style>
	{% include "resets.css" %}
	{% include "style.css" %}
</style>



<section class="header" id="top">
		<div class="container">
			<div class="logo"><a href="/"><img src="http://i.imgur.com/KKTKQJv.png?1" class="img-responsive"></a></div>
			<div class="macc">
			<a class="navbar-brand" href="/" ><h2>Mobile App Control Center</h2></a>
			<input id="toogle" type="checkbox">
			<label for="toogle">&#9776</label>
			<!-- {% if pcuser %} -->
			<nav class="prim-nav">
				<ul>
					<li><a href="/profile/?id={{pcuser.user.id}}">Welcome, <b>{{pcuser.user.first_name}}</b> !</a></li>
					<li><a href="/logout_do/">Logout</a></li>
				</ul>
			</nav> 
			<!-- {% endif %}
-->
			</div>
		</div>
	</section>
