<style>
	{% include "resets.css" %}
	{% include "style.css" %}
	{% include "sticky-footer.css" %}
</style>
<section class="footer">
		<div class="">
			<nav>
				<ul>
					<li><a href="/aboutPC" title="Home" >About Peace Corps</a> </li>
					<li><a href="/policies/" title="Know about our team" >Policies </a></li>
					<li><a href="/details/" title="FAQs">Important Details</a></li>
					<li><a href="/helpPC/" title="Contact Us">Help</a></li>
				</ul>
			<nav>
			<p>&copy 2017 PeaceCorps</p>
		</div>
	</section>
