<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- The sign up page -->

<html>
<head>
    <title> Sign Up </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .form-outline{
        width:600px;
        height:580px;
        
        background-color:#0d8b97;
    }
    .error{
        color:red;
        size:12;
    }
    .ast{
        color:red;
        size:11;
        padding:3;
    }
    </style>
</head>
<body>
    <div>
    {% include "header.html" %}
    </div>
    <br>
    <center class= "error"><p> {{text}}</p></center>
    <br>
    
        
    <center>
    <font color="white">
    <div class="form-outline" >
    <br>
    <form action="/signup_do/" method="post">
        <h2>Sign Up</h2>
        <br>
        
        <div class="controls">
                <label class="radio-inline">
                       <input maxlength=100 type="radio" name="gender" value="male" checked>Male
                </label>
                <label class="radio-inline">
                       <input maxlength=100 type="radio" name="gender" value="female">Female
                </label>
                <label class="radio-inline">
                       <input maxlength=100 type="radio" name="gender" value="restricted">Others
                </label>
       </div>
        <br>
        <font color="black">
        <input type="text" name="username" align="right" placeholder=" Username" required>
        <br>
        <br>
        <input type="email" name="email" placeholder=" Email" required>
  
        
        <br>
        <br>
        
        <input type="password" name="password" align="right" placeholder="Set Password" required>
        <br>
        <br>
        
        <input type="password" name="confirmpassword" placeholder="Confirm Password" required> 
        
        <br>
        <br>
        <input type="tel" name="phone" align="right" placeholder="Phone Number" required>
        <br>
        <br>
        <input type="text" name="location" placeholder="Location" required>
        </font>
        
        
        <br><br>
        <input class="btn btn-default" type="submit" name="submit" value="Submit"><br><br>
        
    </form>
        <br><br>
    </div>
    
    </center>
    
    <br><br>
    {% include "malaria/footer.html" %}


    
</body>
</html>